* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red-hat: "Red Hat Display", sans-serif;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--pale-blue);
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.container__app {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.paragraph {
  font-family: var(--red-hat);
  font-size: 16px;
  font-weight: 500;
  padding: 0px 20px;
  line-height: 25px;
  color: var(--desaturated-blue);
  text-align: center;
}

.container__rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.rotate {
  animation: rotation 1.5s infinite linear;
  height: 80px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
